* {
    font-size: 12pt;
    font-style: normal;
    font-weight: inherit;
    text-decoration: none;
    color: white;
    list-style-type: none;

    margin: 0;
    padding: 0;
}

html {
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: black;
}

body {
    max-width: 30rem;
    width: 100%;
    padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

article {
    border: 1px solid white;
    box-sizing: border-box;
    /* background-clip: content-box; */
    padding: 1rem;
    margin: 1rem 0;
}

.post-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
}

nav {
    display: flex;
    justify-content: space-around;
}

p,
ul {
    padding-bottom: 1rem;
}

p:last-child,
ul:last-child,
li>p {
    padding-bottom: 0;
}

li {
    list-style-type: disc;
    margin-left: 1rem;
}

a {
    text-decoration: underline;
}

.post-number {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}