<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock title %} - vizdun blog</title>
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="alternate" type="application/rss+xml" title="Atom" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/posts/">Posts</a>
        <a href="/cv/">Short CV</a>
    </nav>
    {% block content %}
    {% endblock content %}
</body>

</html>