{% extends "baseof.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
<article>
    <div class="post-title">
        <h2>Home</h2>
    </div>
    <p>Under construction shenanigans.</p>
</article>
{% endblock content %}