{% macro binitoa(number) %}
    {%- if number != 1 and number != 0 -%}
        {{- self::binitoa(number=number / 2 | round(method="floor")) -}}
    {%- endif -%}

    {%- if number % 2 == 1 -%}
        ◉
    {%- else -%}
        ○
    {%- endif -%}
{% endmacro binitoa %}

{% macro binitoamax(number, max) %}
    {%- set n = self::binitoa(number=number) -%}
    {%- set m = self::binitoa(number=max) -%}
    {%- set nl = n | length -%}
    {%- set ml = m | length -%}
    {%- set pl = ml - nl -%}
    {%- for i in range(end=pl) -%}○{%- endfor -%}
    {{- self::binitoa(number=number) -}}
{% endmacro binitoamax %}

{% macro post(title, content, date=false, link=false, number=false) %}
    <article>
        <div class="post-title">
            <h2>{% if link %}<a href="{{ link }}">{{ title }}</a>{% elif not link %}{{ title }}{% endif %}</h2>
            {%- if date -%}
                {{ date | date(format="%d-%m-%Y") }}
            {%- endif -%}
        </div>
        {{ content | safe }}
        {% if number %}
        <div class="post-number">
            {{- self::binitoamax(number=number, max=(get_section(path="posts/_index.md") | get(key="pages") | length)) -}}
        </div>
        {% endif %}
    </article>
{% endmacro post %}